{{#each this}}
    <li class="image-card">
        <a href="{{largeImageURL}}">
            <img class="image-picture" src="{{webformatURL}}" alt="{{tags}}" title="Author: {{user}}">
        </a>

        <ul class="image-prop-list">
            <li class="image-prop-list-item">
                <svg class="image-prop-list-svg" viewBox="0 0 32 32">
                    <path
                        d="M23.6 2c-3.363 0-6.258 2.736-7.599 5.594-1.342-2.858-4.237-5.594-7.601-5.594-4.637 0-8.4 3.764-8.4 8.401 0 9.433 9.516 11.906 16.001 21.232 6.13-9.268 15.999-12.1 15.999-21.232 0-4.637-3.763-8.401-8.4-8.401z">
                    </path>
                </svg> 
                <p class="image-prop-list-desc">{{likes}}</p>
            </li>
            <li class="image-prop-list-item">
                <svg class="image-prop-list-svg" viewBox="0 0 32 32">
                    <path
                        d="M 19.8 24.2902 v -1.8139 c 2.4233 -1.3651 4.4 -4.7707 4.4 -8.1752 c 0 -5.4681 0 -9.9 -6.6 -9.9 s -6.6 4.4319 -6.6 9.9 c 0 3.4056 1.9767 6.8101 4.4 8.1752 v 1.8139 c -7.4624 0.6105 -13.2 4.2768 -13.2 8.7098 h 30.8 c 0 -4.433 -5.7376 -8.1004 -13.2 -8.7098 z">
                    </path>
                </svg>
                <p class="image-prop-list-desc">{{views}}</p>
            </li>
            <li class="image-prop-list-item">
                <svg class="image-prop-list-svg" viewBox="0 0 32 32">
                    <path
                        d="M16 2c8.837 0 16 5.82 16 13s-7.163 13-16 13c-0.849 0-1.682-0.054-2.495-0.158-3.437 3.437-7.539 4.053-11.505 4.144v-0.841c2.142-1.049 4-2.961 4-5.145 0-0.305-0.024-0.604-0.068-0.897-3.619-2.383-5.932-6.024-5.932-10.103 0-7.18 7.163-13 16-13z">
                    </path>
                </svg>
                <p class="image-prop-list-desc">{{comments}}</p>
            </li>
            <li class="image-prop-list-item">
                <svg class="image-prop-list-svg" viewBox="0 0 32 32">
                    <path d="M6 0v32l10-10 10 10v-32z"></path>
                </svg>
                <p class="image-prop-list-desc">{{downloads}}</p>
            </li>
        </ul>
    </li>
{{/each}}